@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-primary: #2AA8FF;
  --color-accent: #07003B;
  --color-text: #07003BBF;
  --color-bg-primary: #F5F5F7;
  --color-bg-secondary: #FFFFFF;
}

@layer base {
  h1 {
    @apply text-6xl text-primary font-extrabold;
  }

  h2 {
    @apply text-2xl sm:text-4xl text-accent font-bold;
  }

  p {
    @apply text-text font-thin;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  section {
    @apply my-10 w-11/12 mx-auto;
  }
}

@layer components {

  .link {
    @apply relative inline-block cursor-pointer no-underline after:content-[''] after:bg-primary after:absolute after:left-0 after:right-0 after:-bottom-0.5 after:h-0.5 after:scale-x-0 after:origin-left after:transition-transform font-bold after:duration-300 hover:after:scale-x-100 focus-visible:after:scale-x-100;
  }

  .active {
    @apply relative font-bold inline-block cursor-pointer no-underline after:content-[''] after:bg-primary after:absolute after:left-0 after:right-0 after:-bottom-0.5 after:h-0.5 after:scale-x-100;
  }

  .section-heading {
    @apply space-y-4 mb-10 text-center;
  }

  .section-heading-form {
    @apply space-y-4 mb-8 text-start;
  }

  .card {
    @apply bg-bg-secondary rounded-md shadow-md p-4;
  }

  .search-style {
    @apply w-full rounded-full border border-accent focus:border-accent py-2.5 pl-10 pr-4 text-sm caret-accent focus:placeholder:text-accent placeholder:text-accent focus:outline-none focus:ring-1 focus:ring-accent transition-all duration-300 text-accent
  }

  .btn-outline {
    @apply border-primary text-primary;
  }

  .btn-primary {
    @apply whitespace-nowrap rounded-full bg-primary px-6 py-3 text-sm font-semibold text-white shadow-sm transition hover:bg-primary/90 sm:text-base cursor-pointer;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}