@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-primary: #2AA8FF;
  --color-accent: #07003B;
  --color-text: #07003BBF;
  --color-bg-primary: #F5F5F7;
  --color-bg-secondary: #FFFFFF;
}

@layer base {
  h1 {
    @apply text-6xl text-primary font-extrabold;
  }

  h2 {
    @apply text-4xl text-accent font-bold;
  }

  p {
    @apply text-text font-thin;
  }

  a {
    text-decoration: none;
  }

  section {
    @apply my-10 w-11/12 mx-auto;
  }
}

@layer components {

  .link {
    @apply relative inline-block cursor-pointer no-underline after:content-[''] after:bg-primary after:absolute after:left-0 after:right-0 after:-bottom-0.5 after:h-0.5 after:scale-x-0 after:origin-left after:transition-transform font-bold after:duration-300 hover:after:scale-x-100 focus-visible:after:scale-x-100;
  }

  .active {
    @apply relative font-bold inline-block cursor-pointer no-underline after:content-[''] after:bg-primary after:absolute after:left-0 after:right-0 after:-bottom-0.5 after:h-0.5 after:scale-x-100;
  }

  .section-heading {
    @apply space-y-4 mb-10 text-center;
  }

  .card {
    @apply bg-bg-secondary rounded-md shadow-md p-4;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}